/* ===============================
             common style 
==================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: thistle;
}

.btn {
  width: 16.8rem;
  height: 4.4rem;
  background-color: #e02c6d;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/* ===============================
             common style end
==================================*/

/* ================================
        header section start 
==================================*/
header {
  background-color: #2d25a0;
  height: 100vh;
  width: 100vw;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-title {
  width: 48.5rem;
  height: 23rem;
}

.hero-title h1 {
  font-size: 6.4rem;
  color: #fff;
  margin-bottom: 2.7rem;
}

.header-btn i {
  margin: 0 0.8rem;
}

.hero-img {
  width: 55.6rem;
  height: 43.8rem;
  margin: 3rem 0;
}

.hero-img img {
  width: 100%;
  height: 42.8rem;
}

/*==================================
             header section end 
 ==================================*/

/*==================================
             players section start 
=====================================*/
main {
  width: 70vw;
  height: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 5rem auto;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.7rem;
}
.player {
  width: 33rem;
  height: 47.4rem;
  padding: 1.5rem;
  box-shadow: 0.5rem 0.5rem 0.4rem rgba(194, 21, 21, 0.166);
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.player img {
  width: 30rem;
  height: 25.6rem;
  margin-bottom: 1.4rem;
}

.player h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

.player p {
  font-size: 1.6rem;
  color: #6c6c6c;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  font-weight: 400;
}
/* =================================
            players section end
 ==================================== */
